.header {
    padding: 42px 0;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        z-index: 5;
    }

    &__link {
        color: $textColor;
        text-decoration: none;
        white-space: nowrap;

        @media (max-width: 1025px) {
            color: $footerTextColor;
        }
    }

    &__menu {
        @media (max-width: 1025px) {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: $bgFooter;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            transform: translateX(-100%);
            transition: transform 0.3s ease-in-out;
            z-index: 3;

            &.active {
                transform: translateX(0);
            }
        }
    }

    &__list {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;

        @media (max-width: 1025px) {
            flex-direction: column;
            text-align: center;
        }
    }

    &__item {
        margin-right: 34px;

        @media (max-width: 1025px) {
            margin-right: 0;
            margin-bottom: 20px;
        }
    }

    &__link {
        text-decoration: none;
    }

    &__btn-container {
        display: flex;
        align-items: center;
    }

    &__login {
        border: none;
        background: none;
        cursor: pointer;
        margin-right: 20px;
        color: $linkColor;
        white-space: nowrap;

        @media (max-width: 1025px) {
            display: none;
        }
    }

    &__hidden {
        border: none;
        background: none;
        cursor: pointer;
        margin-right: 20px;
        color: $linkColor;
        display: none;

        @media (max-width: 1025px) {
            display: block;
        }
    }

    &__burger {
        display: none;
        background-color: $bgFooter;
        border: none;
        cursor: pointer;
        padding: 0;
        z-index: 5;

        @media (max-width: 1025px) {
            display: block;
        }

        span {
            display: block;
            width: 25px;
            height: 3px;
            background-color: #fff;
            margin-bottom: 5px;
        }
    }
}
