$fontMain: "Roboto", Arial, Helvetica, sans-serif;
$white: #ffffff;
$transition: 0.25s;
$bgColor: #f1f6f6;
$bgFooter: #004a43;

$textColor: #345e5a;
$titleColor: #004a43;
$titleColorSecondary: #5c9992;
$footerTextColor: #d8ebe9;

$linkColor: #7d77fc;
$linkColorSecondary: #58d1bd;
$active: #ffad3d;
$activeHover: #da9635;
$activeVisited: rgb(127, 36, 36);
